html, body{
  background-color: #111;
}

.canvas{
  margin-left:1em;
  border: 5px solid black;
}

.form-label {
  color: #CCC;
}

.form-control {
  width: 10em;
  background-color: #333;
  color: #CCC;
  border-color: #CCC;
}

.left {
  float: left;
  margin-right:1em;
}

.down {
  margin-top:1em;
}
