<div class="app-antdemo">
    <div class="demo-screen">
        <canvas-screen has-grid="t" grid-color="{{antCtrl.GRID_COLOR}}"
                       bg-color="{{antCtrl.BACK_COLOR}}" height="400" width="1200"
                       objects="antCtrl.environment" box="antCtrl.box" on-update="antCtrl.update()">
        </canvas-screen>
    </div>
    <div class="information">
        <!--<label>{{gameType==='Wolves' ? 'Sheep' : 'Humans'}} Remaining: {{entities..length}}</label>-->
        <!--<button class="btn-default" ng-click="toggleGameType()">Game Type: {{gameType}}!</button>-->
        <button class="btn-default" ng-click="antCtrl.clear()">Clear!</button>
        <button class="btn-default" ng-click="antCtrl.reset()">Start!</button>
    </div>
    <div class="statistics">
        <div class="statistics-container" id="antStats">
            <!--<div class="stat">-->
                <!--<label class="form-label">Ant Speed:</label>-->
                <!--<input class="form-control"-->
                       <!--type="number" id="Speed"-->
                       <!--ng-model="antStats.speed"-->
                       <!--step=".1" />-->
            <!--</div>-->
            <div class="stat">
                <label class="form-label">Ant Cohesion:</label>
                <input class="form-control"
                       type="number" id="cohesion"
                       ng-model="antCtrl.antStats.cohesionWeight"
                       step=".01" />
            </div>
            <div class="stat">
                <label class="form-label">Ant Separation:</label>
                <input class="form-control"
                       type="number" id="separation"
                       ng-model="antCtrl.antStats.separateWeight"
                       step=".01" />
            </div>
            <div class="stat">
                <label class="form-label">Ant Alignment:</label>
                <input class="form-control"
                       type="number" id="align"
                       ng-model="antCtrl.antStats.alignWeight"
                       step=".01" />
            </div>
            <div class="stat">
                <label class="form-label">Ant Avoid:</label>
                <input class="form-control"
                       type="number" id="avoid"
                       ng-model="antCtrl.antStats.avoidWeight"
                       step=".01" />
            </div>
            <div class="stat">
                <label class="form-label">Ant Pheromone:</label>
                <input class="form-control"
                       type="number" id="pheromone"
                       ng-model="antCtrl.antStats.pheromoneWeight"
                       step=".01" />
            </div>
        </div>
    </div>
</div>