<div class="app-antdemo">
    <div class="info-container">
        <h1>WIP</h1>
        <h3>Swarm Intelligence: Ants!</h3>
        <p>
            A simulation that borrows heavily from swarm intelligence, this demonstration sets out to emulate an ant nest
            and the ant's search for food.
        </p>
        <p>
            Clear will empty the current screen and start will restart the game from scratch.
        </p>
        <p>
        <h3>Stats</h3>
        <ul>
            <li><b>Cohesion:</b> The "glue" force, or what draws the ants toward one another</li>
            <li><b>Separation:</b> The repelling force, or what drives the ants away from one another</li>
            <li><b>Alignment:</b> The force that keeps the ants headed in the same direction</li>
            <!--<li><b>Avoid:</b> The force that drives the ants away from predators</li>-->
            <li><b>Pheromone:</b> The force that pulls an ant toward a pheromone</li>
        </ul>
        </p>
    </div>
    <div class="game-container">
        <div class="demo-screen">
            <canvas-screen has-grid="t" grid-color="{{antCtrl.GRID_COLOR}}"
                           bg-color="{{antCtrl.BACK_COLOR}}" height="antCtrl.viewport.height" width="antCtrl.viewport.width"
                           objects="antCtrl.environment" box="antCtrl.box" on-update="antCtrl.update()">
            </canvas-screen>
        </div>
        <div class="information">
            <button class="btn-default" ng-click="antCtrl.clear()">Clear!</button>
            <button class="btn-default" ng-click="antCtrl.reset()">Start!</button>
        </div>
        <div class="statistics">
        <div class="statistics-container" id="antStats">
            <!--<div class="stat">-->
                <!--<label class="form-label">Ant Speed:</label>-->
                <!--<input class="form-control"-->
                       <!--type="number" id="Speed"-->
                       <!--ng-model="antStats.speed"-->
                       <!--step=".1" />-->
            <!--</div>-->
            <div class="stat">
                <label class="form-label">Ant Cohesion:</label>
                <input class="form-control"
                       type="number" id="cohesion"
                       ng-model="antCtrl.antStats.cohesionWeight"
                       step=".01" />
            </div>
            <div class="stat">
                <label class="form-label">Ant Separation:</label>
                <input class="form-control"
                       type="number" id="separation"
                       ng-model="antCtrl.antStats.separateWeight"
                       step=".01" />
            </div>
            <div class="stat">
                <label class="form-label">Ant Alignment:</label>
                <input class="form-control"
                       type="number" id="align"
                       ng-model="antCtrl.antStats.alignWeight"
                       step=".01" />
            </div>
            <!--<div class="stat">-->
                <!--<label class="form-label">Ant Avoid:</label>-->
                <!--<input class="form-control"-->
                       <!--type="number" id="avoid"-->
                       <!--ng-model="antCtrl.antStats.avoidWeight"-->
                       <!--step=".01" />-->
            <!--</div>-->
            <div class="stat">
                <label class="form-label">Ant Pheromone:</label>
                <input class="form-control"
                       type="number" id="pheromone"
                       ng-model="antCtrl.antStats.pheromoneWeight"
                       step=".01" />
            </div>
        </div>
    </div>
    </div>
</div>