<div class="app-astardemo">
    <div class="demo-screen">
        <canvas-screen has-grid="n" bg-color="{{BACK_COLOR}}" height="1000" width="1400"
                       objects="gridObj.grid" box="box"
                       touch="touch(event)">
            <!--on-update="update()"-->
        </canvas-screen>
    </div>
    <div class="information">
        <!--<label>Generation: {{generation}}</label>-->
        <!--<button class="btn-default" ng-click="reset()">Reset</button>-->
    </div>
    <div class="statistics">
        <div class="statistics-container" id="gameStats">
            <!--<div class="stat">-->
                <!--<label class="form-label">Step Speed:</label>-->
                <!--<input class="form-control"-->
                       <!--type="number" id="step"-->
                       <!--ng-model="step"-->
                       <!--step=".01" />-->
            <!--</div>-->
        </div>
    </div>
</div>