<div class="app-dashboard">
    <div class="app-dashboard-container">
        <!--<p>Welcome to Holden Profit's AI Demo Collection and Portfolio</p>-->
        <h1>Artificial Intelligence Demonstrations</h1>

        <h2>Contact me at: <span class="highlight">holdenprofit@gmail.com</span></h2>

        <h4>Find me on:</h4>
        <h4>LinkedIn: <a href="https://www.linkedin.com/pub/holden-profit/42/634/a23">https://www.linkedin.com/pub/holden-profit/42/634/a23</a></h4>
        <h4>GitHub: <a href="https://github.com/hprofit">https://github.com/hprofit</a></h4>
    </div>
</div>