<div class="app-dashboard">
    <div class="app-dashboard-container">
        <h2>Holden's Tech Dev Blog and Portfolio</h2>

        <h3>Contact me at: <span class="highlight">holdenprofit@gmail.com</span></h3>

        <h5>Find me on:</h5>
        <h5>LinkedIn: <a href="https://www.linkedin.com/pub/holden-profit/42/634/a23">https://www.linkedin.com/pub/holden-profit/42/634/a23</a></h5>
        <h5>GitHub: <a href="https://github.com/hprofit">https://github.com/hprofit</a></h5>
        <h5>Twitter: <a href="https://twitter.com/H_Profit">https://twitter.com/H_Profit</a></h5>
    </div>
</div>