<div class="app-flockdemo">
    <div class="demo-screen">
        <canvas-screen has-grid="t" grid-color="{{FlockCtrl.GRID_COLOR}}"
                bg-color="{{FlockCtrl.BACK_COLOR}}" height="400" width="1200"
                       objects="FlockCtrl.entities" box="FlockCtrl.box" on-update="FlockCtrl.update()">
        </canvas-screen>
    </div>
    <div class="information">
        <label>{{FlockCtrl.gameType==='Wolves' ? 'Sheep' : 'Humans'}} Remaining: {{FlockCtrl.entities.prey.length}}</label>
        <button class="btn-default" ng-click="FlockCtrl.toggleGameType()">Game Type: {{FlockCtrl.gameType}}!</button>
        <button class="btn-default" ng-click="FlockCtrl.clear()">Clear!</button>
        <button class="btn-default" ng-click="FlockCtrl.reset()">Start!</button>
    </div>
    <div class="statistics">
        <div class="statistics-container" id="preyStats">
            <div class="stat">
                <label class="form-label">Prey Amount:</label>
                <input class="form-control"
                       type="number" id="preyAmount"
                       ng-model="FlockCtrl.preyAmount"
                       step="1" />
            </div>
            <div class="stat">
                <label class="form-label">Prey Speed:</label>
                <input class="form-control"
                       type="number" id="preySpeed"
                       ng-model="FlockCtrl.preyStats.speed"
                       step=".01" />
            </div>
            <div class="stat">
                <label class="form-label">Prey Cohesion:</label>
                <input class="form-control"
                       type="number" id="preyCohesion"
                       ng-model="FlockCtrl.preyStats.cohesionWeight"
                       step=".01" />
            </div>
            <div class="stat">
                <label class="form-label">Prey Separation:</label>
                <input class="form-control"
                       type="number" id="preySeparation"
                       ng-model="FlockCtrl.preyStats.separateWeight"
                       step=".01" />
            </div>
            <div class="stat">
                <label class="form-label">Prey Alignment:</label>
                <input class="form-control"
                       type="number" id="preyAlign"
                       ng-model="FlockCtrl.preyStats.alignWeight"
                       step=".01" />
            </div>
        </div>

        <div class="statistics-container" id="predatorStats">
            <div class="stat">
                <label class="form-label">Predator Amount:</label>
                <input class="form-control"
                       type="number" id="predatorAmount"
                       ng-model="FlockCtrl.predatorAmount"
                       step="1" />
            </div>
            <div class="stat">
                <label class="form-label">Predator Speed:</label>
                <input class="form-control"
                       type="number" id="predatorSpeed"
                       ng-model="FlockCtrl.predatorStats.speed"
                       step=".01" />
            </div>
            <div class="stat">
                <label class="form-label">Predator Cohesion:</label>
                <input class="form-control"
                       type="number" id="predatorCohesion"
                       ng-model="FlockCtrl.predatorStats.cohesionWeight"
                       step=".01" />
            </div>
            <div class="stat">
                <label class="form-label">Predator Separation:</label>
                <input class="form-control"
                       type="number" id="predatorSeparation"
                       ng-model="FlockCtrl.predatorStats.separateWeight"
                       step=".01" />
            </div>
            <div class="stat">
                <label class="form-label">Predator Alignment:</label>
                <input class="form-control"
                       type="number" id="predatorAlign"
                       ng-model="FlockCtrl.predatorStats.alignWeight"
                       step=".01" />
            </div>
        </div>
    </div>
</div>