<div class="app-lifedemo">
    <div class="demo-screen">
        <canvas-screen has-grid="y" grid-spacing="gridObj.tileSize" grid-color="{{GRID_COLOR}}"
                       bg-color="{{BACK_COLOR}}" height="800" width="1200"
                       objects="gridObj.grid" box="box" on-update="update()"
                       touch="touch(event)" grid-bg="true">
        </canvas-screen>
    </div>
    <div class="information">
        <label>Generation: {{generation}}</label>
        <button class="btn-default" ng-click="pauseToggle()">{{pause ? 'Resume' : 'Pause'}}</button>
        <button class="btn-default" ng-click="reset()">Reset</button>
    </div>
    <div class="statistics">
        <div class="statistics-container" id="gameStats">
            <div class="stat">
                <label class="form-label">Step Speed:</label>
                <input class="form-control"
                       type="number" id="step"
                       ng-model="step"
                       step=".01" />
            </div>
        </div>
    </div>
</div>