<html ng-app="DemoApp">
    <head>
        <script type="text/javascript" src="../js/bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="../js/bower_components/threejs/build/three.min.js"></script>
        <script type="text/javascript" src="../js/bower_components/libs/THREEx.KeyboardState.js"></script>
        <script type="text/javascript" src="../js/bower_components/libs/THREEx.FullScreen.js"></script>
        <script type="text/javascript" src="../js/bower_components/libs/THREEx.WindowResize.js"></script>
        <script type="text/javascript" src="../js/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../js/dist/aidemo.js"></script>

        <link rel="stylesheet" type="text/css" href="../js/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../less/dist/three.min.css">

        <title>ThreeJS Demo</title>
    </head>
    <body ng-controller="ThreeCtrl">
        <div id="ThreeJSDemo">
        </div>
    </body>
</html>