@import "_variables.less";

div.app-astardemo {
  .common-container;
  flex-direction: column;

  div.info-container {
    width: 100%;
  }

  div.game-container {
    width: 100%;
    align-items: center;

    div.demo-screen {
      canvas.screen {
        cursor: pointer;
      }
    }
  }
}