@import "_variables.less";

div.app-dashboard {
  .common-container;

  div.app-dashboard-container {
    font-size: 24px;
    font-family: @default-font;
    text-align: center;
    line-height: 26px;
    color: white;
    justify-content: center;
    flex-direction: column;
  }
}